.card__container {
  position: relative;
  border: 3px solid #3e4e57;
  border-radius: 10px;
  width: 350px;
  height: 500px;

  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  overflow: hidden;
}

.card__container > .card__image {
  min-width: 100%;
  min-height: 100%;
  transition: transform 0.8s;
}

.card__container > .card__image:hover {
  transform: scale(1.1);
}
