.home__container {
  width: 80%;
  margin: auto;
  padding-top: 50px;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.home__games-list {
  list-style-type: none;
  margin: 20px 0;
  padding-bottom: 20px;

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.home__games-list > li {
  padding: 0px 20px;
  margin-top: 20px;
}
